<link rel="stylesheet" href="/style.css">

<header>

<div class="wrapper">
<!-- NAV -->
<nav class="main-nav">
<ul>
    <li><a href="/vraag-aanbod">Vraag & Aanbod</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">FAQ</a></li>
</ul>
</nav>

<!-- TOP CONTAINER  -->
<section class="top-container">
<header class="display">
    <h1>De Hallen Amsterdam</h1>
    <p>Wij brengen vraag en aanbod uit Amsterdam West bij elkaar.</p>
    <a href="#" class="btn">Lees meer</a>
</header>

<!-- FOOTER -->
    
<footer>
    <p>FOOTER</p>
  </footer>
</div>


